<div class="col-md-3 right-menu">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #ffffff">
            <h2 class="panel-title">بانک دانش</h2>
        </div>
        <div class="panel-body text-primary">
            <ul>
                <li>
                    <a href="#">نصب اولیه</a>
                    <ul>
                        <li>راهنمای نصب</li>
                        <li>راهنمای آموزش</li>
                        <li>خطاها</li>
                        <li>تفاوت نسخ مختلف نرم افزار</li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a href="#">کانورت اطلاعات</a>
                    <ul>
                        <li>راهنمای کانورت</li>
                        <li>خطا ها</li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a href="">سرور واسط</a>
                    <ul>
                        <li>راهنمای نصب</li>
                        <li>راهنمای آموزش</li>
                        <li>خطایابی و رفع خطا</li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a href="#">Sql Server</a>
                    <ul>
                        <li>ساختار شناسی از Object ها</li>
                        <li>Query نویسی</li>
                        <li>Administration و آموزش پیشرفته</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

