<div class="col-md-3 right-menu">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #ffffff">
            <h2 class="panel-title">بانک دانش</h2>
        </div>
        <div class="panel-body text-primary">
            <ul>
                <li>
                    <a href="#">نصب اولیه</a>
                    <ul>
                        <li><a href="../../../documents/آموزش نصب اولیه 608.pdf">آموزش نصب اولیه</a></li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a>آموزش های نرم افزار</a>
                    <ul>
                        <li><a href="../../../documents/آموزش دبيرخانه.pdf">دبیرخانه</a></li>
                        <li><a href="../../../documents/آموزش پرسنلي.pdf">پرسنلی</a></li>
                        <li><a href="../../../documents/آموزش خبر.pdf">خبر</a></li>
                        <li><a href="../../../documents/آموزش جامع نمایندگان استانی.pdf">آموزش جامع نمایندگان</a></li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a>کانورت اطلاعات</a>
                    <ul>
                        <li><a href="../../../documents/مراحل کانورت وی بی به دات نت.pdf">مراحل کانورت وی بی به دات نت</a></li>
                        <li><a href="../../../documents/مراحل کانورت اکسل به پرسنلی.pdf">مراحل کانورت اکسل به پرسنلی</a></li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a>سرور واسط</a>
                    <ul>
                        <li><a href="../../../documents/راه اندازی سرور واسط x32.pdf">راه اندازی سرور واسط x32</a></li>
                        <li><a href="../../../documents/راه اندازی سرور واسط x64.pdf">راه اندازی سرور واسط x64</a></li>
                    </ul>
                </li>
                <br/>
                <li>
                    <a href="#">Sql Server</a>
                    <ul>
                        <li><a href="../../../documents/Merg مراحل انجام.pdf">Merg مراحل انجام</a></li>
                        <li><a href="../../../documents/Mirroring  مراحل انجام .pdf">Mirroring  مراحل انجام </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

